html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/********************************** Navbar ****************************************/

.logo {
    height: 60px;
    width: 60px;
    border-radius: 5px;

}
.logo-container {
    justify-content: flex-start;
    width: 10%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(4,2,5,0.85);
}

.nav-bar {
    height: 80px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
}

.nav-bar .drop-btn a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding:5px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-bar .drop-btn {
    transition: transform .2s;
}

.nav-bar .drop-btn:hover {
    color: #bb0200;
    transform: scale(1.2);
}

.nav-dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav-dropdown-container:hover .nav-dropdown-content {
    display: block;
    position: absolute;
    z-index: 1;
    transition: transform 0.3s ease;
}

.nav-dropdown-content a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: dimgrey;
    padding: 10px 14px;
    text-align: center;
}

.nav-dropdown-content a:hover {
    color: black;
    border-bottom: 1px solid dimgrey;
    border-radius: 1px;
}

.search-form-container {
    display: flex;
    width: 20%;
}

.search-form-container button{
    cursor: pointer;
    border: none;
    margin-left: 2px;
    width: 35px;
    border-radius: 3px;
}

.search-form-container input {
    border-radius: 3px;
}


/* Dropdown Button */
.user-btn {
    background-color: #bb0200;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    width: 55px;
    color: whitesmoke;
    font-size: 16px;
    border: none;
}

.user-btn-ua {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb0200;
    border-radius: 3px;
    height: 30px;
    width: 55px;
    color: whitesmoke;
    font-size: 16px;
    border: none;
}

.user-btn-ua i {
    color: whitesmoke;
}

.user-btn-ua:hover {
    opacity: 0.9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-container {
  position: relative;

}

/* Dropdown Content (Hidden by Default) */
.user-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;

}

/* Links inside the dropdown */
.user-dropdown-content a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
    border-radius: 3px;
    padding: 10px 14px;
    text-align: center;
}

/* Change color of dropdown links on hover */
.user-dropdown-content a:hover {
    border-bottom: 1px solid dimgrey;
    border-radius: 1px;
}

/* Show the dropdown menu on hover */
.user-dropdown-container:hover .user-dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-dropdown-container:hover .user-btn {opacity: 0.9;}

.logout-btn {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 550;
}

.logout-btn:hover {
    cursor: pointer;
    background-color: #ff162a;
}

/********************************* Home page **************************************/

.home-first {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../media/images/home_bg.jpg');
    width: 100%;
    height: 1500px;
    justify-items: center;
}

.home-top-section-content {
    padding: 50px;
    justify-items: center;
    margin-top: 30px;
    width: 600px;
}

.home-top-section-content h2 {
    color: white;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 30px;
}

.home-top-section-content p {
    color: white;
    font-size:25px;
    margin-bottom: 30px;
}

.home-first-btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    border: 4px solid whitesmoke;
    border-radius: 15px;
}

.home-first-btn:hover {
    border: 4px solid #cccccc;
    color: #cccccc;
}
.home-second {
    width: 100%;
    background-color: #efefef;
}

.home-second .article {
    padding: 50px 70px 50px 70px;
}

.article h2 {
    font-weight: 600;
    margin-bottom: 0;
}

.article p {
    color: black;
    width: 1000px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.second-article {
    display: flex;
    justify-content: space-evenly;
}
.second-article img {
    height:500px;
    border-radius: 4px;
    margin-right: 100px;
    padding-top: 50px;
}

.hs-article {
    padding-left: 100px;
}

.home-second .hs-element {
    display: flex;
    color: rgba(0,0,0,0.83);
    background-color: #bbbbbb;
    height: auto;
    width: 500px;
    padding: 10px 20px 10px 10px;
    margin: 40px 0 20px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

.home-second .hs-element i {
    font-size: 30px;
    padding: 20px 20px 0 0;
}

.home-second .hs-element div {
    color: rgba(0,0,0,0.83);
    display: inline-block;
}

.home-second .hs-element div p {
    color: rgba(0,0,0,0.83);
}

/*************************************** Forum *********************************************/

.add-post-link {
    padding: 10px 15px;
    margin: auto;
    background-color: #bb0200;
    width: 100px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
    cursor: pointer;
}

.add-post-link:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.add-post-link a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.post-container {
    min-height: 150px;
    width: 700px;
    margin: 50px auto;
    padding: 10px;
    border-bottom: 1px solid black;
}

.post-container a {
    color: black;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0;
    text-decoration:none;
}

.post-container a:hover {
    color: dimgrey;
}

p.date {
    color: dimgrey;
    font-family: georgia, serif;
    font-size: 13px;
    margin-left: 10px;
    padding: 0;
    margin-top: 10px;
    font-style: italic;
}

.post-container .content p {
    color: black;
    margin-left: 10px;
    margin-top: 50px;
}

.post-list-container h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    text-align: center;
    padding:0 0 10px 0;
}

.pagination {
    margin: 50px auto;
    width: fit-content;
}

.pagination span {
    font-size: 20px;
}

/*************************************** ADD POST ****************************************/
.add-post-body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../media/images/add-post-background.jpg');
    background-size: cover;
}

.add-post-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 0 0 30px 0;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}

.add-post-form-container h1{
    border-bottom: 1px solid black;
    width: 90%;
    text-align: center;
}

.add-post-form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.add-post-form-container form input {
    border: white;
    border-bottom: 1px solid black;
    width: 450px;
    height: 30px;
}

.add-post-form-container form textarea {
    border-radius: 3px;
    border: none;
    resize: none;
    width: 450px;
}

.add-post-form-container form button {
    width: 80%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: dimgrey;
    background-color: lightgray;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.add-post-form-container form button:hover {
    background-color: dimgrey;
    color: darkgrey;
}

/************************************* POST DETAIL PAGE***************************************/

.post-detail-container {
    margin: 50px 30px;
}

.post-body .date {
    width: fit-content;
    color: dimgrey;
    border-bottom: 1px solid black;
}

.post-body .post-content {
    color: black;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    min-height: 100px;
    width: 80%;
}

.post-body .post-content p {
    margin: 0;
    color: black;

}

.comment {
    background-color: #eeeeee;
    width: 40%;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3)
}

.comment .info {
    margin-top: 0;
    font-weight: 500;
}

.comments-container p {
    color: black;
}
.comment-form-container {
    margin: 0 30px 50px 30px;
    padding: 20px;
}

.comment-form-container h2 {
    width: fit-content;
    border-bottom: 1px solid black;
}

.comment-form-container textarea {
    border-radius: 6px;
    resize: none;
}

.comment-form-container button {
    cursor: pointer;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.8);
    color: white;
    background-color: darkgrey;
}

.comment-form-container button:hover {
       box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6)
}

/********************************* ADD PREDEFINED WORKOUT FORM *****************************************/

.predefined-workout-form-container h1 {
    margin-left: 30px;
    width: fit-content;
    border-bottom: 1px solid black;
}

.predefined-workout-form-container form {
    width: 60%;
    margin: 50px 30px;
}

.predefined-workout-form-container form p {
    width: fit-content;
}

.predefined-workout-form-container form label {
    display: block;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color: dimgrey;
    border-bottom: 1px solid black;
}

.predefined-workout-form-container form .submit-btn {
    cursor: pointer;
    width: 145px;
    height: 40px;
    background-color: #bb0200;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.predefined-workout-form-container form .cancel-btn {
    cursor: pointer;
    text-decoration: none;
    width: 145px;
    height: 40px;
    background-color: dimgrey;
    border: none;
    color: white;
    font-size: 16px;
}

.predefined-workout-form-container form button:hover {
    opacity: 0.8;
}

/******************************** ADD EXERCISE FORM **********************************/

.add-exercise-form-container h1 {
    margin-left: 30px;
    width: fit-content;
    border-bottom: 1px solid black;
}

.add-exercise-form-container form {
    width: 60%;
    margin: 50px 30px;
}

.add-exercise-form-container form p {
    width: fit-content;
}

.add-exercise-form-container form label {
    display: block;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color: dimgrey;
    border-bottom: 1px solid black;
}

.add-exercise-form-container form .submit-btn {
    cursor: pointer;
    width: 145px;
    height: 40px;
    background-color: #bb0200;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.add-exercise-form-container form button:hover {
    opacity: 0.8;
}

.container img {
    height: 300px;
    width: auto;
}
.profile-img-container img {
    height: 150px;
    width: auto;
}
.profile-details p {
    color: black;
}

.details-btn {
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid rgba(1,1,33,0.83);
    background-color: white;
    color: rgba(1,1,33,0.83);
    font-weight: bold;
    height: 35px;
}

.details-btn a {
    text-decoration: none;
}

.details-btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(1,1,33,0.83);
    text-decoration: none
}


.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid rgba(1,1,33,0.83);
    background-color: white;
    color: rgba(1,1,33,0.83);
    font-weight: bold;
    height: 35px;
}

.add-btn a {
    text-decoration: none;
}

.add-btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(1,1,33,0.83);
    text-decoration: none
}


.exercise-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.exercise-container img {
    height: auto;
    width: 10%;
}

.exercise-container {
    display: flex;
    justify-content: space-evenly;
}

.button-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.footer-container {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #0c414b;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-first-section {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.footer-first-section div {
    max-width: 200px;
}

.footer-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,29,30,0.95);
    width:100%;
}

.footer-second-section p {
    color: white;
}

.footer-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.footer-container a, p {
    color: white;
}




/*##################### Custom workout creation form page ##################################################*/

/*.custom-workout-form-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.custom-workout-form-container input {*/
/*    border-radius: 3px;*/
/*}*/