
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.errorlist li {
    text-align: center;
    color: red;
    list-style-type: none;
}

.search-form-container {
    width: fit-content;
    padding: 0;
}
.search-form-container form {
    display: flex;
    height: fit-content;
}

.search-form-container input {
    border:  dimgrey;
    border-radius: 3px;
    height: 40px;
    width: 250px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.search-form-container button{
    cursor: pointer;
    border: none;
    margin-left: 2px;
    margin-right: 0;
    width: 45px;
    border-radius: 3px;
    background-color: dimgrey;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
}

.search-form-container button:hover {
    opacity: 0.9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.main {
    margin: 0;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/********************************** Navbar ****************************************/

.logo {
    height: 60px;
    width: 60px;
    border-radius: 5px;

}
.logo-container {
    justify-content: flex-start;
    width: 10%;
}

.nav-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(4,2,5,0.85);
    margin: 0;
}

.nav-bar {
    height: 80px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
}

.nav-bar .drop-btn a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding:5px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-bar .drop-btn {
    transition: transform .2s;
}

.nav-bar .drop-btn:hover {
    color: #bb0200;
    transform: scale(1.2);
}

.nav-dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav-dropdown-container:hover .nav-dropdown-content {
    display: block;
    position: absolute;
    z-index: 1;
    transition: transform 0.3s ease;
}

.nav-dropdown-content a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: dimgrey;
    padding: 10px 14px;
    text-align: center;
}

.nav-dropdown-content a:hover {
    color: black;
    border-bottom: 1px solid dimgrey;
    border-radius: 1px;
}

/* Dropdown Button */
.user-btn {
    background-color: #bb0200;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    width: 55px;
    color: whitesmoke;
    font-size: 16px;
    border: none;
}

.user-btn-ua {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb0200;
    border-radius: 3px;
    height: 30px;
    width: 55px;
    color: whitesmoke;
    font-size: 16px;
    border: none;
}

.user-btn-ua a {
    color: whitesmoke;
    text-decoration: none;
}

.user-btn-ua:hover {
    opacity: 0.9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-container {
  position: relative;

}

/* Dropdown Content (Hidden by Default) */
.user-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;

}

/* Links inside the dropdown */
.user-dropdown-content a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
    border-radius: 3px;
    padding: 10px 14px;
    text-align: center;
}

/* Change color of dropdown links on hover */
.user-dropdown-content a:hover {
    border-bottom: 1px solid dimgrey;
    border-radius: 1px;
}

/* Show the dropdown menu on hover */
.user-dropdown-container:hover .user-dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-dropdown-container:hover .user-btn {opacity: 0.9;}

.logout-btn {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 550;
}

.logout-btn:hover {
    cursor: pointer;
    background-color: #bb0200;
}

/********************************* Home page **************************************/

.home-first {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../media/images/home_bg.jpg');
    width: 100%;
    height: fit-content;
    padding: 0 0 80px 0;
    justify-items: center;
}

.home-top-section-content {
    padding: 50px;
    justify-items: center;
    width: fit-content;
}

.home-top-section-content h2 {
    color: white;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.home-top-section-content p {
    color: white;
    font-size: 40px;
    padding-bottom: 30px;
    width: fit-content;
    text-align: center;
}

.home-first-btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    border: 4px solid whitesmoke;
    border-radius: 15px;
}

.home-first-btn:hover {
    border: 4px solid #cccccc;
    color: #cccccc;
}
.home-second {
    width: 100%;
    background-color: #efefef;
}

.home-second .article {
    padding: 50px 70px 50px 70px;
}

.article h2 {
    font-weight: 600;
    margin-bottom: 0;
}

.article p {
    color: black;
    width: 1000px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.second-article {
    display: flex;
    justify-content: space-evenly;
}
.second-article img {
    height:500px;
    border-radius: 4px;
    margin-right: 100px;
    padding-top: 50px;
}

.hs-article {
    padding-left: 100px;
}

.home-second .hs-element {
    display: flex;
    color: rgba(0,0,0,0.83);
    background-color: #bbbbbb;
    height: auto;
    width: 500px;
    padding: 10px 20px 10px 10px;
    margin: 40px 0 20px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

.home-second .hs-element i {
    font-size: 30px;
    padding: 20px 20px 0 0;
}

.home-second .hs-element div {
    color: rgba(0,0,0,0.83);
    display: inline-block;
}

.home-second .hs-element div p {
    color: rgba(0,0,0,0.83);
}

/*************************************** Forum *********************************************/

.forum-header {
    width: 700px;
    height: fit-content;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.add-post-link {
    padding: 10px 15px;
    background-color: #bb0200;
    width: 100px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
    cursor: pointer;
}

.add-post-link:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.add-post-link a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.post-container {
    min-height: 150px;
    width: 700px;
    margin: 50px auto;
    padding: 10px;
    border-bottom: 1px solid black;
}

.post-container a {
    color: black;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0;
    text-decoration:none;
}

.post-container a:hover {
    color: dimgrey;
}

p.date {
    color: dimgrey;
    font-family: georgia, serif;
    font-size: 13px;
    margin-left: 10px;
    padding: 0;
    margin-top: 10px;
    font-style: italic;
}

.post-container .content p {
    color: black;
    margin-left: 10px;
    margin-top: 50px;
}

.post-container h2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-btn-container {
    width: fit-content;
}

.post-container h2 .delete-post-btn {
    color: white;
    background-color: rgba(216,161,0,0.82);
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    margin-left: 10px;
}

.post-container h2 .delete-post-btn:hover {
    opacity: 0.9;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.7);
}

.post-list-container h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    text-align: center;
    padding:0 0 10px 0;
}

.pagination {
    margin: 50px auto;
    width: fit-content;
}

.pagination span {
    font-size: 20px;
}

/*************************************** ADD POST ****************************************/
.add-post-body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../media/images/add-post-background.jpg');
    background-size: cover;
    padding: 50px 0 50px 0;
}

.add-post-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 0 0 30px 0;
    margin: 50px auto;
    background-color: ghostwhite;
}

.add-post-form-container h1{
    border-bottom: 1px solid black;
    width: 90%;
    text-align: center;
}

.add-post-form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.add-post-form-container form input {
    background-color: ghostwhite;
    border: white;
    border-bottom: 1px solid black;
    width: 450px;
    height: 30px;
}

.add-post-form-container form textarea {
    color: white;
    background-color: ghostwhite;
    border-radius: 3px;
    border: none;
    resize: none;
    width: 450px;
}

.add-post-form-container form button {
    width: 80%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: dimgrey;
    background-color: lightgray;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.add-post-form-container form button:hover {
    background-color: dimgrey;
    color: darkgrey;
}

/********************************** DELETE POST FORM ****************************************/

.delete-post-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.delete-post-form-container h1 {
    width: fit-content;
    border-bottom: 1px solid black;
}

.delete-post-form-container form textarea {
    resize: none;
    border-color: lightgray;
}

.delete-post-form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.delete-post-form-container form input {
    border-color: transparent;
    border-bottom: 1px solid black;
    height: 30px;
}

.delete-post-form-container form .delete-post-btn {
    cursor: pointer;
    color: white;
    background-color: #bb0200;
    width: 60%;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    align-content: center;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.delete-post-form-container form .delete-post-btn:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}


/************************************* POST DETAIL PAGE***************************************/

.post-detail-container {
    margin: 50px 30px;
}

.post-body .date {
    width: fit-content;
    color: dimgrey;
    border-bottom: 1px solid black;
}

.post-body .post-content {
    color: black;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    min-height: 100px;
    width: 80%;
}

.post-body .post-content p {
    margin: 0;
    color: black;

}

.comment {
    background-color: #eeeeee;
    width: 40%;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3)
}

.comment .info {
    margin-top: 0;
    font-weight: 500;
}

.comments-container p {
    color: black;
}
.comment-form-container {
    margin: 0 30px 50px 30px;
    padding: 20px;
}

.comment-form-container h2 {
    width: fit-content;
    border-bottom: 1px solid black;
}

.comment-form-container textarea {
    border-radius: 6px;
    resize: none;
}

.comment-form-container button {
    cursor: pointer;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.8);
    color: white;
    background-color: darkgrey;
}

.comment-form-container button:hover {
       box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6)
}

/********************************* ADD PREDEFINED WORKOUT FORM *****************************************/

.predefined-workout-form-container {
    width: 100%;
    padding: 20px;
}
.predefined-workout-form-container h1 {
    font-size: 40px;
    width: fit-content;
    border-bottom: 1px solid black;
    margin-left: 50px;
}

.predefined-workout-form-container form {
    width: 80%;
    margin: 30px 50px;
}

.predefined-workout-form-container form p {
    width: fit-content;
}

.predefined-workout-form-container form label {
    display: block;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color: dimgrey;
    border-bottom: 1px solid black;
}

.predefined-workout-form-container .submit-btn {
    cursor: pointer;
    width: 145px;
    height: 40px;
    background-color: #bb0200;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.predefined-workout-form-container .cancel-btn {
    cursor: pointer;
    text-decoration: none;
    width: 145px;
    height: 40px;
    background-color: dimgrey;
    border: none;
    color: white;
    font-size: 16px;
}

.predefined-workout-form-container form button:hover {
    opacity: 0.8;
}

/******************************** ADD EXERCISE FORM **********************************/

.add-exercise-form-container h1 {
    margin-left: 30px;
    width: fit-content;
    border-bottom: 1px solid black;
}

.add-exercise-form-container form {
    width: 60%;
    margin: 50px 30px;
}

.add-exercise-form-container form p {
    width: fit-content;
}

.add-exercise-form-container form label {
    display: block;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color: dimgrey;
    border-bottom: 1px solid black;
}

.add-exercise-form-container form .submit-btn {
    cursor: pointer;
    width: 145px;
    height: 40px;
    background-color: #bb0200;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.add-exercise-form-container form button:hover {
    opacity: 0.8;
}

/********************************* LOGIN PAGE *************************************/

.login-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    border: 1px lightgray;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6)
}

.login-form h2 {
    border-bottom: 1px solid black;
    min-width: 250px;
    text-align: center;
}


.login-form ul {
    text-align: center;
    min-width: 250px;
    width: fit-content;
    padding: 0;
}
.login-form li {
    margin: auto;
    align-content: center;
    list-style-type: none;
    color: red;
    height: 30px;
    min-width: 250px;
}

.login-form form input {
    border: white;
    border-bottom: 1px solid black;
    background-color: white;
    height: 30px;
    min-width: 250px;
}

.login-form form button {
    cursor: pointer;
    min-width: 250px;
    height: 30px;
    background-color: #bb0200;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6)
}

.login-form form button:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5)
}

.login-form .login-p {
    color: dimgrey;
}

.login-form .sign-up-btn {
    text-decoration: none;
    cursor: pointer;
    min-width: 250px;
    height: 30px;
    text-align: center;
    align-content: center;
    background-color: gray;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.login-form .sign-up-btn:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7);
}

/******************************* SIGN UP PAGE ************************************/

.signup-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    border: 1px lightgray;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.signup-form form input {
    border: white;
    border-bottom: 1px solid black;
    background-color: white;
    height: 30px;
    min-width: 250px;
}

.signup-form form button {
    cursor: pointer;
    min-width: 250px;
    height: 30px;
    background-color: #bb0200;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6)
}

.signup-form form button:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5)
}

/********************************* PROFILE PAGE *************************************/

.profile-img-container {
    background-color: ghostwhite;
    margin: 30px 30px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.3)
}

.profile-img-container img {
    display: inline-block;
    height: 150px;
    width: auto;
    border-radius: 50%;
    background-color: white;
}

.profile-img-container h3 {
    display: inline-block;
    font-size: 30px;
    margin-left: 30px;
    width: fit-content;
}

.profile-details {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin: 30px;
    background-color: ghostwhite;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.3)
}

.profile-details p {
    height: fit-content;
    color: black;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid dimgrey;
}

.profile-details p span {
    color: dimgrey;
    font-size: 22px;
    font-weight: 600;
}

.profile-menu {
    display: inline-block;
    margin: 0 0 0 30px;
    background-color: #bb0200;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.profile-menu i {
    font-size: 30px;
}

.profile-menu-dropdown {
    display: none;
    width: fit-content;
}

.profile-menu-dropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: dimgrey;
}

.profile-menu-dropdown .delete-profile-btn:hover {
        background-color: #bb0200;
}

.profile-menu:hover .profile-menu-dropdown {
    display: block;
    margin-top: 6px;
    background-color: ghostwhite;
    border: 1px solid lightgray;
    position: absolute;
    z-index: 1;
}

.profile-menu:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.profile-menu-dropdown a:hover {
    border-bottom: 1px solid black;
    color: black;
}
.no-profile {
    background-color: ghostwhite;
    margin: 30px 30px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.3)
}

.no-profile p  {
    margin: 0 0 15px 0;
    color: black;
    font-size: 18px;
}

.no-profile a {
    display: block;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 4px;
    background-color: #bb0200;
    color: whitesmoke;
    text-decoration: none;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.no-profile a:hover {
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

/********************************* PROFILE CONFIGURATION FORM ****************************************/

.profile-conf-form-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    border: 1px lightgray;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.profile-conf-form-container form {
    display: flex;
    flex-direction: column;
}

.profile-conf-form-container h2 {
    border-bottom: 1px solid black;
}

.profile-conf-form-container label {
    color: dimgrey;
}

.profile-conf-form-container p {
    width: fit-content;
    margin: 10px 0 10px auto;
}

.profile-conf-form-container p select {
    background-color: lightgray;
    color: white;
    border-color: transparent;
    width: 300px;
    margin-left: 35px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.profile-conf-form-container input {
    width: 300px;
    margin-left: 35px;
    height: 30px;
    border: 1px solid dimgrey;
    border-radius: 4px;

}

.profile-conf-form-container input[type='file'] {
    border-color: transparent;
}

.profile-conf-form-container button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 30px auto 20px auto;
    background-color: #bb0200;
    color: white;
    font-size: 20px;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7)
}

.profile-conf-form-container button:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5)
}

/********************************* UPDATE PROFILE FORM **************************************/

.profile-update-form-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    border: 1px lightgray;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.profile-update-form-container form {
    display: flex;
    flex-direction: column;
}

.profile-update-form-container h2 {
    border-bottom: 1px solid black;
    margin-top: 0;
    margin-bottom: 50px;
}

.profile-update-form-container label {
    color: dimgrey;
    font-size: 17px;
}

.profile-update-form-container p {
    width: fit-content;
    margin: 10px 0 10px auto;
}

.profile-update-form-container p select {
    background-color: lightgray;
    color: white;
    border-color: transparent;
    width: 300px;
    margin-left: 35px;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
}

.profile-update-form-container input {
    width: 300px;
    margin-left: 35px;
    font-size: 17px;
    height: 30px;
    border: 1px solid dimgrey;
    border-radius: 4px;

}

.profile-update-form-container input[type='file'] {
    border-color: transparent;
}

.profile-update-form-container button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 30px auto 20px auto;
    background-color: #bb0200;
    color: white;
    font-size: 20px;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7)
}

.profile-update-form-container button:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5)
}

/************************************ ACCOUNT DELETION PAGE**********************************************/

.account-deletion-form-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    border: 1px lightgray;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.account-deletion-form-container h2 {
    border-bottom: 1px solid black;
}

.account-deletion-form-container p {
    color: black;
    font-size: 20px;
}

.account-deletion-form-container button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 30px auto 20px auto;
    background-color: #bb0200;
    color: white;
    font-size: 20px;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7)
}

.account-deletion-form-container button:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5)
}

.account-deletion-form-container a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.account-deletion-form-container .cancel-delete-btn {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 30px auto 20px auto;
    background-color: dimgrey;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7)
}

/****************************** EXERCISES LIST PAGE ****************************************/

.exercise-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    height: fit-content;
    border: 1px solid dimgrey;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.exercise-container p {
    color: dimgrey;
}

.exercise-container h3 {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.exercise-info {
    width: fit-content;

}

.exercise-container img {
    height: 120px;
    margin: 0 50px 0 50px;
}

.button-container {
    display: flex;
    align-items: center;
    width: fit-content;
}

.button-container a {
    margin: 0 20px 0 20px;
}

.details-btn {
    text-decoration: none;
    border-radius: 4px;
    border-color: transparent;
    background-color: #bb0200;
    color: white;
    align-content: center;
    padding: 5px 15px;
    height: 40px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.details-btn a {
    text-decoration: none;
}

.details-btn:hover {
    cursor: pointer;
    color: white;
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
}


.add-btn {
    text-decoration: none;
    border-radius: 4px;
    border-color: transparent;
    background-color: dimgrey;
    color: white;
    align-content: center;
    padding: 5px 15px;
    height: 40px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.add-btn a {
    text-decoration: none;
}

.add-btn:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.8);
}

/********************************** EXERCISE DETAILS PAGE **************************************/

.exercise-header-container {
    height: fit-content;
    margin: 50px 0;
    padding: 20px;
    width: 100%;
    background-color: rgba(4,2,5,0.85);
    color: white;
}

.exercise-title {
    margin: 50px 100px;
}

.exercise-title h1 {
    font-size: 45px;
    font-weight: 400;
}

.exercise-title p {
    font-size: 24px;
    font-weight: 300;
    color: lightgray;
}

.exercise-data {
    margin: 0;
    padding: 50px 100px;
}
.exercise-overview {
    margin-bottom: 100px;
    line-height: 26px;
}

.exercise-overview p, h2 {
    color: black;
    width: 80%;
}

.exercise-overview h2 {
    font-size: 45px;
    font-weight: 500;
}

.exercise-overview p {
    font-size: 18px;
    font-weight: 380;
}

.exercise-data img {
    display: inline-block;
    height:500px;
    width: auto;
    float: left;
    margin: 0 60px 60px 0;
}

.exercise-article {
    line-height: 26px;
}

.exercise-article h2 {
    font-size: 45px;
    font-weight: 500;
}

.exercise-article p {
    color: black;
    display: inline-block;
    width: 700px;
    font-size: 18px;
    font-weight: 380;
}

/**************************************** CUSTOM WORKOUT LIST PAGE **********************************************/
.custom-workout-wrapper {
    text-align: center;
    padding: 50px 30px;
}

.custom-workout-wrapper h1 {
    font-size: 46px;
    font-weight: 500;
    padding-top: 0;
    margin-top: 0;
}

.custom-workout-list {
    flex:1;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.custom-workout-container h2 {
    text-align: center;
    border-bottom: 1px solid black;
    width: fit-content;
    font-size: 40px;
    font-weight: 500;
}

.custom-workout-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 350px;
    min-width: 400px;
    width: fit-content;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-workout-container:hover {
    transform: scale(1.02);
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.custom-workout-container .workout-details-btn {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    width: 60%;
    background-color: #bb0200;
    padding: 10px 0;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.custom-workout-container .workout-delete-btn {
    text-decoration: none;
    color: white;
    width: 60%;
    border-radius: 4px;
    background-color: rgba(216,161,0,0.82);
    padding: 10px 0;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.workout-details-btn:hover, .workout-delete-btn:hover {
    opacity: 0.9;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.6);
}

.custom-workout-list p {
    font-size: 40px;
}

/********************************** CUSTOM WORKOUT DETAILS **************************************/
.cw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cw-container h1 {
    text-align: center;
    width: 100%;
    color: black;
    font-size: 40px;
    font-weight: 500;
    padding: 10px 0;
    background-color: lightgray;
}

.cw-container .btn-container {

    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 50px;
}

.cw-add-btn {
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 4px;
    width: 150px;
    background-color: #bb0200;
    padding: 10px 0;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.cw-remove-btn {
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 4px;
    width: 150px;
    background-color: rgba(216,161,0,0.82);
    padding: 10px 0;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.cw-add-btn:hover, .cw-remove-btn:hover {
    opacity: 0.9;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.6);
}

.workout-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.cw-exercise {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: fit-content;
    padding: 10px 0;
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cw-exercise:hover {
    transform: scale(1.02);
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
}

.cw-exercise h4 {
    font-size: 20px;
    font-weight: 500;
}

.cw-exercise p {
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.cw-exercise p span {
    font-size: 16px;
    font-weight: 500;
    color: dimgrey;
}

/***************************************** CREATE CUSTOM WORKOUT PAGE ***********************************************/

.custom-workout-form-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.4);
}

.custom-workout-form-container h1 {
    font-size: 40px;
    font-weight: 500;
    width: fit-content;
    border-bottom: 1px solid black;
}

.custom-workout-form-container form input {
    height: 24px;
    width: 100%;
    border: transparent;
    border-bottom: 1px solid black;
}

.custom-workout-form-container form select {
    cursor: pointer;
    background-color: dimgrey;
    color: white;
    width: 100%;
    height: 30px;
}

.custom-workout-form-container form button {
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    background-color: #bb0200;
    color: white;
    width: 100%;
    height: 30px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.custom-workout-form-container form button:hover {
    opacity: 0.9;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.7);
}

/******************************************PREDEFINED WORKOUTS LIST PAGE ****************************/

.workouts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.workout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.7);
    padding: 40px 40px;
    transition: transform 0.3s ease;
}

.workout-container:hover {
    transform: scale(1.02);
}

/******************************************PREDEFINED WORKOUTS DETAIL PAGE ****************************/

.exercise-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.exercise-list p {
    font-size: 20px;
}

.workout-info {
    width: 70%;
    text-align: center;
    margin: 30px 0;
    padding: 30px 0;
}
.cw-container .btn-container {

    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 50px;
}

.cw-add-btn {
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 4px;
    width: 150px;
    background-color: #bb0200;
    padding: 10px 0;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.cw-remove-btn {
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 4px;
    width: 150px;
    background-color: rgba(216,161,0,0.82);
    padding: 10px 0;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.cw-add-btn:hover, .cw-remove-btn:hover {
    opacity: 0.9;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.6);
}

.exercise-predefined-workout {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: fit-content;
    padding: 10px 0;
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cw-exercise:hover {
    transform: scale(1.02);
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
}

.cw-exercise h4 {
    font-size: 20px;
    font-weight: 500;
}

.cw-exercise p {
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.cw-exercise p span {
    font-size: 16px;
    font-weight: 500;
    color: dimgrey;
}

/******************************************** FOOTER ***********************************************/
.footer-container {
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-first-section {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.footer-first-section div {
    max-width: 200px;
}

.footer-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.82);
    width:100%;
}

.footer-second-section p {
    color: white;
}

.footer-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.footer-container a, p {
    color: black;
}




/*##################### Custom workout creation form page ##################################################*/

/*.custom-workout-form-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.custom-workout-form-container input {*/
/*    border-radius: 3px;*/
/*}*/