{% extends 'base.html' %}

{% block title %}Delete your account{% endblock %}

{% block content %}
    <div class="account-deletion-form-container">
        <h2>Confirm Account Deletion</h2>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    
        <form method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
            <button type="reset" class="cancel-delete-btn"><a href="{% url 'accounts:profile-details' user.id %}">Cancel</a></button>
        </form>
    </div>
{% endblock %}