{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="login-form">
        <h2>Sign In Your Account</h2>
        <form method="post">
            {% csrf_token %}
{#            {% if form.errors %}#}
{#                <p>Incorrect username or password!</p>#}
{#            {% endif %}#}
            {{ form.as_p }}
            <button>LOG IN</button>
        </form>
        <p class="login-p">OR</p>
        <a href="{% url 'accounts:register' %}" class="sign-up-btn"> SIGN UP</a>
    </div>
{% endblock %}