{#{% extends 'base.html' %}#}
{##}
{#{% block title %}{{ workout.name }}{% endblock %}#}
{% load static %}

{% block content %}
    <div class="cw-container">
        <h1>{{ workout.name }}</h1>
        <div>
            {% for custom_exercise in custom_exercises %}
                <div>
                    <img src="{{ custom_exercise.exercise.image.url }}" height="80px;" width="80px;">
                    <h4>{{ custom_exercise.exercise.name }}</h4>
                    <p>Sets: {{ custom_exercise.sets }}</p>
                    <p>Reps: {{ custom_exercise.reps }}</p>
                    <p>Rest: {{ custom_exercise.rest }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}