{% extends 'base.html' %}

{% block title %}{{ workout.name }}{% endblock %}

{% block content %}
    <div class="cw-container">
        <h1>{{ workout.name }}</h1>
        <div class="btn-container">
            <a href="{% url 'workouts:update_workout' slug=workout.slug %}" class="cw-add-btn">Add exercise</a>
        </div>
        <div class="workout-data">
            {% for custom_exercise in custom_exercises %}
                <div class="cw-exercise">
                    <img src="{{ custom_exercise.exercise.image.url }}" height="120px;" width="auto;">
                    <h4>{{ custom_exercise.exercise.name }}</h4>
                    <p><span>Sets:</span> {{ custom_exercise.sets }}</p>
                    <p><span>Reps: </span> {{ custom_exercise.reps }}</p>
                    <p><span>Rest: </span> {{ custom_exercise.rest }}</p>
                    <a href="{% url 'workouts:remove_exercise' pk=custom_exercise.pk %}" class="cw-remove-btn">Remove exercise</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}