<footer class='d-md-inline-flex bg-light'>

      <div class="border-light">
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button"
        >WORKOUT APP</a>
          <p>{% lorem 10 w %}</p>
      </div>
      <div>
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button"
        >ABOUT US</a>
          <p>{% lorem 10 w %}</p>

      </div>
      <div>
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button"
        >CONTACTS</a>
          <p>{% lorem 10 w %}</p>
      </div>

</footer>   
