{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="home-first">
        <div class="home-top-section-content">
            <h2>Get fit & <span style="color: rgba(53,216,93,0.95); padding-left: 152px;">healthy</span></h2>
            <p>Empower Your Journey, Transform Your Life.</p>
            {% if not user.is_authenticated %}
                <a class="home-first-btn" href="{% url 'accounts:register' %}">Get Started</a>
            {% endif %}
        </div>
    </section>
    <section class="home-second">
        <div class="article">
            <h2>What is WorkoutPlanner all about ?</h2>
            <p>The workout planner is an online tool designed to
                help you create a personalized workout plan based on
                the equipment you have and your fitness preferences.
                If you feel that building your own workout plan is challenging,
                don’t worry—we’re here to guide you through the process, step-by-step,
                and make it easier than ever!</p>
        </div>
        <div class="second-article">
            <div class="hs-container">
                <div class="hs-element">
                    <i class="fa-solid fa-person-running"></i>
                    <div>
                        <h3>Learn how to do the exercises</h3>
                        <p>Not sure about an exercise? The exercise library offers resources to guide you on proper form
                        and technique.</p>
                    </div>
                </div>    
                <div class="hs-element">
                    <i class="fa-regular fa-note-sticky"></i>
                    <div>
                        <h3>Create a free personalized workout</h3>
                        <p>Build a workout plan that fits your goals and preferences.
                        Easily add or remove exercises to create a workout designed specifically by and for you.
                        It's completely free!</p>
                    </div>
                </div>
                <div class="hs-element">
                    <i class="fa-solid fa-dumbbell"></i>
                    <div>
                        <h3>Create custom workouts for your students</h3>
                        <p>Design free custom workout plans for your students.
                        Tailor each educational plan to your student's needs and goals.</p>
                    </div>
                </div>
                <div class="hs-element">
                    <i class="fa-solid fa-calculator"></i>
                    <div>
                        <h3>Fitness Calculators</h3>
                        <p>Track calories, calculate rep maxes, and monitor body composition – all within the app.</p>
                    </div>
                </div>
            </div>
            <img src="../media/second-section-home-article-img.jpg" alt="Fit man standing with phone in the hand.">
        </div>
    </section>
{% endblock %}