{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div>
        <h3>Purpose of this website</h3>
        <p>{% lorem %}</p>
    </div>
    <div>
        <h5>Know-how</h5>
        <p>{% lorem 10 w %}</p>
    </div>
    <div>
        <h5>Know-how</h5>
        <p>{% lorem 10 w %}</p>
    </div>
    <div>
        <h5>Know-how</h5>
        <p>{% lorem 10 w %}</p>
    </div>
    <div>
        <h5>Know-how</h5>
        <p>{% lorem 10 w %}</p>
    </div>
{% endblock %}