{% load static %}

<nav class="nav-container">
    <div class="logo-container">
        <img class="logo" src="{% static 'media/images/logo.jpg' %}" alt="The logo of this website.">
    </div>
    <div class="nav-bar">
        <a href="{% url 'common:home' %}" class="drop-btn">HOME</a>
        
        <div class="nav-dropdown-container">
            <a href="#" class="drop-btn">TRAINING PLANS</a>
            <div class="nav-dropdown-content">
                <a href="#">Our Story</a>
                <a href="#">Mission</a>
                <a href="#">Values</a>
            </div>
        </div>    
        
        <div class="nav-dropdown-container">
            <a href="{% url 'workouts:predefined_workout_list' %}" class="drop-btn">WORKOUTS</a>
            <div class="nav-dropdown-content">
                <a href="{% url 'workouts:create_predefined_workout' %}">Add a workout</a>
            </div>
        </div>    
        
        <div class="nav-dropdown-container">
            <a href="#" class="drop-btn">CALCULATORS</a>
            <div class="nav-dropdown-content">
                <a href="#">Body Mass Index</a>
                <a href="#">Body Fat Index</a>
            </div>
        </div>    

        <div class="nav-dropdown-container">
            <a href="#" class="drop-btn">EXERCISES</a>
            <div class="nav-dropdown-content">
                <a href="{% url 'exercises:add_exercise' %}">Add exercise</a>
                <a href="{% url 'exercises:exercise_list' category='CT' %}">Chest</a>
                <a href="#">Shoulder</a>
                <a href="#">Back</a>
                <a href="#">Biceps</a>
                <a href="#">Triceps</a>
                <a href="#">Abs</a>
                <a href="#">Legs</a>
            </div>
        </div>    
    </div>
    
    <fieldset class="search-form-container">
        <form>
            {{ search_form }}
        </form>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </fieldset>

    {% if request.user.is_authenticated %}
        <div class="user-dropdown-container">
            <button class="user-btn"><i class="fa-solid fa-user"></i></button>
                <div class="user-dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="{% url 'accounts:profile-details' user.id %}">My Profile</a>
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Log Out</button>
                    </form>
                </div>
        </div>
    {% else %}
        <div class="dropdown-container">
            <a href="{% url 'accounts:login' %}"><i class="fa-solid fa-user"></i></a>
        </div>
    {% endif %}
</nav>

