{% load static %}

<nav class="nav-container">
    <div class="logo-container">
        <a href="{% url 'common:home' %}"><img class="logo" src="{% static 'media/images/logo.jpg' %}" alt="The logo of this website."></a>
    </div>
    <div class="nav-bar">
        <div class="drop-btn">
            <a href="{% url 'common:home' %}" class="drop-btn">HOME</a>
        </div>
        
        <div class="drop-btn">
            <a href="{% url 'forum:post_list' %}" class="drop-btn">FORUM</a>
        </div>    
        
        <div class="nav-dropdown-container">
            <div class="drop-btn">
                <a href="{% url 'workouts:predefined_workout_list' %}" class="drop-btn">WORKOUTS</a>
            </div>
            <div class="nav-dropdown-content">
                <a href="{% url 'workouts:create_predefined_workout' %}">Add a workout</a>
            </div>
        </div>    
        
        <div class="nav-dropdown-container">
            <div class="drop-btn">
                <a href="#" class="drop-btn">CALCULATORS</a>
            </div>    
            <div class="nav-dropdown-content">
                <a href="#">Body Mass Index</a>
                <a href="#">Body Fat Index</a>
            </div>
        </div>    

        <div class="nav-dropdown-container">
            <div class="drop-btn">
                <a href="#" class="drop-btn">EXERCISES</a>
            </div>    
            <div class="nav-dropdown-content">
                <a href="{% url 'exercises:add_exercise' %}">Add exercise</a>
                <a href="{% url 'exercises:exercise_list' category='CT' %}">Chest</a>
                <a href="#">Shoulder</a>
                <a href="#">Back</a>
                <a href="#">Biceps</a>
                <a href="#">Triceps</a>
                <a href="#">Abs</a>
                <a href="#">Legs</a>
            </div>
        </div>    
    </div>
    


    {% if request.user.is_authenticated %}
        <div class="user-dropdown-container">
            <button class="user-btn"><i class="fa-solid fa-user"></i></button>
                <div class="user-dropdown-content">
                    <a href="{% url 'workouts:custom_workouts_list' %}">My workouts</a>
                    <a href="{% url 'accounts:profile-details' user.id %}">My profile</a>
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">LOG OUT</button>
                    </form>
                </div>
        </div>
    {% else %}
        <div class="user-btn-ua">
            <a href="{% url 'accounts:login' %}"><i class="fa-solid fa-user"></i></a>
        </div>
    {% endif %}
</nav>

