{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}WorkoutPlanner's Forum{% endblock%}

{% block content %}
    <div class="post-list-container">
        <h1>Welcome to our forum</h1>
        <div class="forum-header">
            <div class="search-form-container">
                <form method="get">
                    {{ form }}
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <button id="show-add-post-btn">Add Post</button>

        <div id="add-post-form">
            <input type="text" id="post-title" placeholder="Post title">
            <textarea id="post-body" placeholder="Post body" rows="4"></textarea>
            <button id="submit-post">Post</button>
            <button id="hide-form-btn">Hide</button>
        </div>
        {% if posts %}
            {% for post in posts %}
                <div id="post-list">
                    <div class="post-container">
                        <h2>
                            <a href="{% url 'forum:post_detail' pk=post.pk %}">
                                {{ post.title }}
                            </a>
                            {% if user.id == post.author_id or user|has_perm:'forum.change_post' %}
                                <div class="post-options-container">
                                    <i id='post-options-icon' class="fa-solid fa-caret-down"></i>
                                    <div class="options-content">
                                        <button class="edit-post">Edit</button>
                                        <button class="delete-post" data-post-id="{{ post.id }}">Delete</button>
                                    </div>
                                </div>
                            {% endif %}
                        </h2>
                        <p class="date">
                            Published {{ post.publish }} by {{ post.author }}
                        </p>
                        <div class="content">
                            {{ post.body|truncatewords:30|linebreaks }}
                        </div >
                    </div>
                </div>
            {% endfor %}
            {% include 'forum/pagination.html' %}
        {% else %}
            <p>There are no posts yet!</p>
        {% endif %}
    </div>
{% endblock %}
